
/* applies to all elements */
* {
    padding: auto;
    color: rgb(0, 0, 0);
    margin: auto;
    font-weight: 100;
    font-size: max(1rem, 32px);
    font-family: 'Josefin Sans', sans-serif;
    background-attachment: fixed;
   
}
/* applies to all h1 elements */
h1{
    font-weight: 400;
    font-size: 42px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgba(228, 12, 4, 0.914);
    box-sizing: border-box;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

#time{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-family: 'Josefin Sans';
    font-size: 32px
}
li {
    display: flex;
    justify-content: space-between;
    display: list-item;
    list-style-type: "🐾";
}

/* applies to the entire list */
ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* applies to the gifs on page */
img {
    max-height: 200px;
    border-radius: 15px;
}

main {
    display:flex;
}

button {
    position: fixed;
    top: 50%;
    left: 50%;
}
#loadBtn {
background-color: rgb(6, 6, 6);
position: relative;
margin-left: -50px;
left: 50%;
bottom: 0px;
}

/* applies to the execute button */
#executeBtn{
    position: relative;
}
#refreshBtn{
    justify-content: center;
    align-items: center;
    display: flex;
    
}
/* this makes the content on screen reponsive to smaller screen sizes, it will condense the content to a single column */
@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
}

