
/* applies to all elements */
* {
    padding: auto;
    color: rgb(0, 0, 0);
    margin: auto;
    font-weight: 100;
    font-size: max(1rem, 32px);
    font-family: 'Josefin Sans', sans-serif;
    background-attachment: fixed;
    
}
section{
    background-image: url(images/image.png);
}
/* applies to all h1 elements */
h1{
    font-weight: 400;
    font-size: 42px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgba(228, 12, 4, 0.914);
    box-sizing: border-box;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

/* applies to the time and date on the page, centers it */
#time {
    text-align: center;
    color: lightgrey;
}

/* applies to all list elements, changes the bullet points to pawprints */
li {
    display: flex;
    justify-content: space-between;
    display: list-item;
    list-style-type: "🐾";
}

/* applies to the entire list */
ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

/* applies to the gifs on page */
img {
    max-height: 300px;
    border-radius: 15px;
}

/* applies to all elements in the main body of html */
main {
    display:flex;
}

/* applies to the load/execute button on page */
.button {
    position: fixed;
    top: 50%;
    left: 50%;
}

/* applies to the refresh button */
#refreshBtn{
    position: relative;
    margin-bottom: 20px;
}

/* applies to the load button */
#loadBtn {
background-color: rgb(6, 6, 6);
position: relative;
margin-left: -50px;
left: 50%;
bottom: 0px;
}

/* applies to the execute button */
#executeBtn{
    position: relative;
}

/* this makes the content on screen reponsive to smaller screen sizes, it will condense the content to a single column */
@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
}