
* {
    padding: auto;
    color: rgb(0, 0, 0);
    margin: auto;
    font-weight: 100;
    font-size: max(1rem, 32px);
    font-family: 'Josefin Sans', sans-serif;
    background-attachment: fixed;
    background-image: url(https://wallpapers.com/images/featured/nyan-cat-background-1ldrgvod52e6vi0m.jpg);
   
}

h1{
    font-weight: 400;
    font-size: 42px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgba(228, 12, 4, 0.914);
    box-sizing: border-box;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

li {
    display: flex;
    justify-content: space-between;
    display: list-item;
    list-style-type: "🐾";
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

img {
    max-height: 200px;
    border-radius: 15px;

}

main {
    display:flex;
    

}

button {
    position: fixed;
    top: 50%;
    left: 50%;
}
#loadBtn {
background-color: rgb(6, 6, 6);
position: relative;
margin-left: -50px;
left: 50%;
bottom: 0px;
}

#executeBtn{
    position: relative;
}

#refreshBtn{
    position: relative;
    left: 1px;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
}